/* Google Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Global Veriables */
:root {
  /* Background Color */
  --primary-color: #990033;
  --secondary-color: #ffc2b4;
  --primary-nav-color: #e21056;
  --primary-bg: rgb(153 0 51 / 14%);
  --font-color: #b7b7b7;
  --bg-color: #171717;
  --bg-dark-color: #0c0b0b;
  --white-color: #fdfffc;
  --green-color: #0abf53;
  --green-color-bg: rgb(10 191 83 / 17%);
  --blue-color: #6168ff;
  --blue-color-bg: rgb(97 104 255 / 9%);
  --border-color-light: rgba(255, 255, 255, 0.2);
  --box-shadow: 0 16px 48px rgb(0 0 0 / 12%);
  --dark-layer-color: linear-gradient(
    to top,
    rgb(21 21 21 / 67%),
    rgb(23 23 23 / 17%)
  );

  /* Font Family */
  --primary-font: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  font-family: var(--primary-font);
  /* color: var(--bg-color); */
  background-color: var(--bg-color);
  color: var(--white-color);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Pre-defined Classes CSS */
a {
  text-decoration: none;
}

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.container {
  width: auto;
  max-width: 82.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.common-btn {
  margin-top: 80px;

  @media (max-width: 992px) {
    width: 100%;
    text-align: center;
    display: block;
  }
  @media (max-width: 47.9375rem) {
    margin-bottom: 48px;
  }

  .btn {
    padding: 13.712px 41.136px;
    font-size: 18.288px;
    color: var(--white-color);
    border-radius: 34.288px;
    font-weight: 600;
    box-shadow: 0 8px 16px rgb(16, 16, 16);
    outline: 0.125rem solid var(--primary-color);
    outline-offset: 0rem;
    border: none;
    cursor: pointer;
    background: var(--primary-color);
    transition: all 0.3s ease-in-out;

    &:hover {
      outline-offset: 0.625rem;
    }
  }
}

h1 {
  font-size: 62px;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--white-color);
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
  font-size: 46px;
  color: var(--white-color);
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 10px;
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: var(--white-color);
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  line-height: 1.2;
  color: var(--primary-text);
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
  color: var(--white-color);
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 300;
}

p {
  font-size: 16px;
  color: var(--text-gray);
  line-height: 26px;
}
